<div class="footer">
    <div class="line-footer"></div>
    <div class="mid clx">
            <div class="navs">
                <ul class="clx">
                    <li class="fl">走进华慧</li>
                    <li class="fl">华慧新闻</li>
                    <li class="fl">旗下成员</li>
                    <li class="fl">服务项目</li>
                    <li class="fl no-b">政策法规</li>
                    <li class="fl no-b">加入华慧</li>
                    <li class="fl no-b">联系我们</li>
                    <li class="fl no-b">我们的客户</li>
                </ul>
            </div>
            <div class="address clx">
                <div class="img fl">
                    <img src="src/sweep.png" alt=""/>
                    <img class="hide" src="image/index/logo-foot.png" alt=""/>
                </div>
                <div class="txt fl">
                    <div class="con clx">
                        <div class="con_l ">地址</div>
                        <div class="con_txt ">
                            <p>中国.四川.成都市（合江亭)天仙桥南路6号恒丰大厦5F</p>
                        </div>
                    </div>
                    <div class="con clx">
                        <div class="con_l ">服务热线</div>
                        <div class="con_txt "><p>028-86654352</p></div>
                    </div>
                    <div class="con clx">
                        <div class="con_l ">传真</div>
                        <div class="con_txt "><p>86655083</p></div>
                    </div>
                </div>
            </div>

    </div>

    <div class="Copyright">
        <div class="cen13 clx">
            <div class="fl">
                <p class="logo-bot">
                    <img src="image/index/logoimg.png" alt=""/>
                    <span>四川華慧工程造价咨询有限公司</span>
                </p>
            </div>
            <div class="fr">
                <p>版权所有 © 2013 四川华慧工程造价咨询有限公司  版权所有  </p>
                <p> 网站备案号：蜀ICP备14007147号</p>
                <p>技术支持：四川方法数码</p>
            </div>
        </div>
    </div>
</div>