<div class="head clx">
    <div class="logo fl">
            <span class="bg-img">
                <img src="image/index/log1.png" alt="">
            </span>

    </div>
    <div class="contact fr clx">
        <div class="cont_l fl">
            <p>
                <img src="image/index/icon-email.png" alt="">
            </p>
            <p>企业邮箱</p>
        </div>
        <div class="cont_cut fl"></div>
        <div class="cont_r fr">
            <div class="fl mgrS"><img src="image/index/icon-phone.png" alt=""></div>
            <div class="fr ">
                <p>服务热线</p>
                <p class="phone">028-866655621</p>
            </div>
        </div>
    </div>
</div>
<div class="head-sm flex just_bet">
    <div class="logo flex_1">
            <span class="bg-img">
                <img src="image/index/log1.png" alt="">
            </span>
        <span class="bg-img">
                <img src="image/index/log2.png" alt="">
            </span>
    </div>

    <div class="top-menu" onclick="togglenav()">
        <img src="image/icon-menu.png" alt="">
    </div>

    <div class="menu-nav">
        <ul>
            <li class="act">
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="join_introduce.html">走进华惠</a>
            </li>
            <li>
                <a href="news_hyxw.html">华惠新闻</a>
            </li>
            <li>
                <a href="join_group.html">旗下成员</a>
            </li>
            <li>
                <a href="join_service.html">服务项目</a>
            </li>
            <li>
                <a href="#">政策法规</a>
            </li>
            <li>
                <a href="join_zpxx.html">加入华惠</a>
            </li>
            <li>
                <a href="us.html">联系我们</a>
            </li>
            <li>
                <a href="join_zykh.html">我们的客户</a>
            </li>

        </ul>
    </div>
</div>