<div class="nav">
    <ul>
        <li class=" sel">
            <a href="index.html?act=0">
                <img src="image/index/icon-index.png" alt=""><span>首页</span>
            </a>
        </li>
        <li class="">
            <a href="join_introduce.html?act=1">
                <span class="navp">·</span>
                <span>走进华强</span>
            </a>
        </li>
        <li class="">
            <a href="news_hyxw.html">
                <span class="navp">·</span>
                <span>华强新闻</span>
            </a>
        </li>
        <li class="">
            <a href="join_group.html">
                <span class="navp">·</span>
                <span>旗下成员</span>
            </a>
        </li>
        <li class="">
            <a href="join_service.html">
                <span class="navp">·</span>
                <span>服务项目</span>
            </a>
        </li>
        <li class="">
            <a href="#">
                <span class="navp">·</span>
                <span>政策法规</span>
            </a>
        </li>
        <li class="">
            <a href="join_zpxx.html">
                <span class="navp">·</span>
                <span>加入华强</span>
            </a>
        </li>
        <li class="">
            <a href="us.html">
                <span class="navp">·</span>
                <span>联系我们</span>
            </a>
        </li>
        <li class="">
            <a href="join_zykh.html">
                <span class="navp">·</span>
                <span>我们的客户</span>
            </a>
        </li>
    </ul>

</div>